{% extends 'main.html' %} {% block content %}
<h1>Projects</h1>
<p>{% lorem 2 %}</p>
<p>You are on {{page}} page</p>
{% if number > 10 %}
<p>Number is greater than 10</p>
{%else%}
<p>Number is less than 10</p>
{%endif%}
<hr />
<h1>Projects</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Votes Total</th>
    <th>Ratio</th>
    <th>Created at</th>
    <th>Tag</th>
    <th>View</th>
  </tr>
  {% for project in projects %}
  <tr>
    <td>{{project.title}}</td>
    <td>{{project.description}}</td>
    <td>{{project.vote_total}}</td>
    <td>{{project.vote_ratio}}</td>
    <td>{{project.created}}</td>
    <td>{% for tag in project.tags.all %} {{tag}} {% endfor %}</td>
    <td><a href="{% url 'project' project.id %}">View </a></td>
  </tr>

  {% endfor %}
</table>

{% endblock content %}
